
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');





*{
    margin: 0;
    padding:0;
    box-sizing: border-box;}


    

.ImagenInicio{
    
    background-position: relative;
    background-size: auto auto;
      
    

}

.contenedorLogo{
    width: 25%;
    display: inline-block;

}

.Logo{
    width: 60%;
    display: inline-block;
    


}

body{
    font-family: 'Quicksand', sans-serif;
    background-size: cover;
    background-position:relative;
    background-image: url(../assets/img/crossfondo.jpg);

    backface-visibility: 95%;

    

    color: rgba(36, 13, 10, 0.463);

}


.Navegacion{
    display: inline-block;
    



}

.ListaNavegacion{
    list-style: none;
    display: fixed;
    padding: left 60px;
    text-decoration: none;
    text-decoration-color: aliceblue;
   font-size: 1,3em;



    
    
    

}

.ListaItem {
    list-style: none;
    display: inline-block;
   margin:3vh;
   height: 3vh;
    text-decoration: none;
    font-size: 3vh;
    font-weight: bold;
 

}

.LinkNav{
    text-decoration: none;
    color:rgb(26, 62, 62);
    

}

.Titulo{
text-align: center;
font-size: 80px;
color: rgb(4, 81, 148);
font-weight: bolder;

}

h1{
    color: #6b2929;

}



.Redes{
    -ms-flex-align: center;

}

.DivPosiciones{

margin: 10vh;
padding-left: 10;

}

.DivRutinas{
margin: 10vh;
padding: 3vh;
text-align: center;

}

.ParrafoRutinas{

    text-align: center;
}

.textoIndex{
    color: rgb(22, 68, 108);
    font-size: 40px;
    background-color: beige;
}

.tiuloCarousel{
    color: #6a1919;
    background-color: beige;
    font-size: 20px;
}

.CotainerContacto{

    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;

}

.imputs{
    align-items: center;

    flex-direction: column;
}


.espacio{
margin-top: 40px;

}

.headerContacto{
display: flex;
}

.h1Contacto{
flex-direction: column;
justify-content: center;

}


.PosicionesDiv{
    display: grid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-areas:
    "DivPosiciones1 DivPosiciones2"
    "DivPosiciones3 DivPosiciones4"
    "DivPosiciones5 DivPosiciones6"
    "DivPosiciones7 DivPosiciones8"
    "DivPosiciones9 DivPosiciones10"
    "DivPosiciones11 DivPosiciones12";
    grid-template-rows: repeat (12,8%);
    grid-template-columns: 50% 50%;

}

.DivPosiciones1{
    grid-area: DivPosiciones1;
}
.DivPosiciones2{
    grid-area:DivPosiciones2;
}
.DivPosiciones3{
    grid-area:DivPosiciones3;
}
.DivPosiciones4{
    grid-area:DivPosiciones4;
}
.DivPosiciones5{
    grid-area:DivPosiciones5;
}
.DivPosiciones6{
    grid-area:DivPosiciones6;
}
.DivPosiciones7{
    grid-area:DivPosiciones7;
}
.DivPosiciones8{
    grid-area:DivPosiciones8;
}
.DivPosiciones9{
    grid-area:DivPosiciones9;
}
.DivPosiciones10{
    grid-area:DivPosiciones10;
}
.DivPosiciones11{
    grid-area:DivPosiciones11;
}
.DivPosiciones12{
    grid-area:DivPosiciones12;
}

.footer{
    margin-top: 600px;
}

.tituloPosiciones{
    color:rgb(7, 44, 32);
    font-size: 30px;
    padding: 20px;
    font-weight: bolder;
    
}
    
    
