body{
 
    background-image:url(../assets/img/crossfondoultimo.jpg);
    background-repeat: repeat;
    background-color: rgb(50, 50,50);
    background-blend-mode: soft-light;
   
    color: rgb(243, 237, 237); 
    text-shadow: rgb(49, 168, 95) 0.1em 0.1em 0.2em;
    font-family: 'eurostileregular',sans-serif;

    
    .logo{
        animation:backInRight;
        animation-duration: 3s;
    
      }
    

    .body__main{
       
         @include flexbox (200px,center,map-get($map-flex,column))
    

}
    }
                    






    

    