body{
 
    background-image: url(../assets/img/crossfondo.jpg);
    background-repeat: no-repeat;
    color: rgb(127, 23, 23); text-shadow: rgb(247, 237, 237) 0.1em 0.1em 0.2em;
    font-family: 'Lobster', cursive;
    

}

                    
.body__main{
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;}

    