
/*si es necesario agregar todas las clases del footer y anidar y usar variables*/
.body__footer{
    
    margin-top: 200px;
    background-color: red($color: #bf1a1a);
    
    
   .body__footer__div{
  
        -ms-flex-align: center;}}

   






/*aca poner la media queries de las clases que intervengan en el footer */