/*si es necesario agregar todas las clases del footer y anidar y usar variables*/
.body__footer {
    line-height: 10px;
    margin-top: 200px;
    background-color: red($color: #bf1a1a);
    display:$flex;
    align-items:$center;
    flex-direction:$column;
}



.body__footer__div {
    display:$flex;
   
}

.body__footer__div a img {
    display:$flex;
    align-items: right;
    width: 27px;
    margin: 10px;
}








/*aca poner la media queries de las clases que intervengan en el footer */