    
.container {
  
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom:150px;
    .Contacto__h1{
      color: #f6f2f2;
      text-align: center;
      }

      form {
        margin-top: 20px;
        label {
          display: block;
          margin-bottom: 5px;
          }
          input,textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #cccccc;
            border-radius: 4px;
            margin-bottom: 10px;
            }

            button {
              width: 100%;
              background-color: #36f45c;
              color: white;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              font-size: 16px;
              }

            
    button:hover {
      background-color: #d32f2f;
      }

        }
    }
    
   
    
  
    
   
    
  
    
   
    
    button:hover {
    background-color: #d32f2f;
    }
    
    