 .body__main__h1__2 {
     text-align: center;
     font-size: 40px;
     color: rgb(37, 36, 36);
     text-shadow: rgb(247, 237, 237) 0.1em 0.1em 0.2em
 }


 .body__main__div {
     display: flex;
     flex-wrap: nowrap;
     margin: 20px;
     padding: 40px;
 }

 .body__main__div__h2 {
     color: rgb(37, 36, 36);
     text-shadow: rgb(247, 237, 237) 0.1em 0.1em 0.2em
 }