

.tituloPosiciones{
    color: rgb(109, 21, 21); 
    text-shadow: rgb(49, 168, 95) 0.1em 0.1em 0.2em;
    font-size: 30px;
    padding: 20px;
    font-weight: bolder;}


.DivPosiciones{

    margin: 10px;
    padding: 20px;}
    
    .DivRutinas{
    margin: 10vh;
    padding: 3vh;
    text-align: center;
    color: rgb(43, 86, 33); text-shadow: rgb(113, 181, 126) 0.1em 0.1em 0.2em}
    
    
    
    .ParrafoRutinas{
    
        text-align: center;
        color: rgb(145, 13, 13); text-shadow: rgb(247, 237, 237) 0.1em 0.1em 0.2em}


        
.PosicionesDiv{

    display: grid;
    flex-wrap:wrap;
    grid-template-areas:
    "DivPosiciones1 DivPosiciones2"
    "DivPosiciones3 DivPosiciones4"
    "DivPosiciones5 DivPosiciones6"
    "DivPosiciones7 DivPosiciones8"
    "DivPosiciones9 DivPosiciones10"
    "DivPosiciones11 DivPosiciones12";
    grid-template-rows: 12,8% 12,8% 12,8% 12,8% 12,8% 12,8% 12,8% 12,8% 12,8% 12,8% 12,8% 12,8%;
    grid-template-columns: 50% 50%;
    margin: 50px;
    padding-left:10%;

}

    
    

.DivPosiciones1{
    grid-area:DivPosiciones1;}
.DivPosiciones2{
    grid-area:DivPosiciones2;}
.DivPosiciones3{
    grid-area:DivPosiciones3;}
.DivPosiciones4{
    grid-area:DivPosiciones4;}
.DivPosiciones5{
    grid-area:DivPosiciones5;}
.DivPosiciones6{
    grid-area:DivPosiciones6;}
.DivPosiciones7{
    grid-area:DivPosiciones7;}
.DivPosiciones8{
    grid-area:DivPosiciones8;}
.DivPosiciones9{
    grid-area:DivPosiciones9;}
.DivPosiciones10{
    grid-area:DivPosiciones10;}
.DivPosiciones11{
    grid-area:DivPosiciones11;}
.DivPosiciones12{
    grid-area:DivPosiciones12;}


    @media (min-width:280px) and (max-width:800px) {
        .PosicionesDiv{
        display: flex;
        flex-wrap: wrap;
        margin:0px;
        
        
    }}


   