.h1Rutinas{
    font-style:italic;
    text-decoration:line;
    color: rgb(125, 35, 35); text-shadow: rgb(247, 237, 237) 0.1em 0.1em 0.2em}
    


.DivRutinas{
    margin: 10vh;
    padding: 3vh;
    text-align: center;
    color: rgb(37, 36, 36); text-shadow: rgb(247, 237, 237) 0.1em 0.1em 0.2em}
    
    
    
.ParrafoRutinas{
    
        text-align: center;
        color: rgb(145, 13, 13); text-shadow: rgb(247, 237, 237) 0.1em 0.1em 0.2em}
    