.h1Rutinas{
    font-style:italic;
    text-decoration:line;
    color: rgb(245, 243, 243); 
    text-shadow: rgb(49, 168, 95) 0.1em 0.1em 0.2em;
    margin-bottom: 20vh;}

.correr{
    background-image: url(../assets/img/correr.jpg);
    padding: 45px;
    background-repeat:repeat-x;
    background-size:cover;
    align-content:normal;
    

    background-color: rgb(50, 50,50);
    background-blend-mode: soft-light;
    }

.flexiones{
    background-image: url(../assets/img/flexiones.jpg);
    padding: 45px;
    background-color: rgb(50, 50,50);
    background-blend-mode: soft-light;
    background-size:cover;

}

.sentadillas{
    background-image: url(../assets/img/sentadillas.jpg);
    padding: 45px;
    background-color: rgb(50, 50,50);
    background-blend-mode: soft-light;
}

.dominadas{
    background-image: url(../assets/img/dominadas.jpg);
    padding: 45px;
    background-color: rgb(50, 50,50);
    background-blend-mode: soft-light;
    
}
    
.abdominales{
    background-image: url(../assets/img/abdominales.jpg);
    padding: 50px; 
    background-size:auto;
    background-position-x:center;
    background-color: rgb(50, 50,50);
    background-blend-mode: soft-light;

}

.buerpee{
    background-image: url(../assets/img/burpee.jpg);
    padding: 45px;
    background-repeat: no-repeat;
    background-repeat:repeat-x;
    background-size:cover;
    align-content:  center;
    
    
    background-color: rgb(50, 50,50);
    background-blend-mode: soft-light;

}


.DivRutinas{
    
    margin: 10vh;
    padding: 3vh;
    text-align: center;
    color: rgb(252, 246, 246); text-shadow: rgb(247, 237, 237) 0.1em 0.1em 0.2em;
   
    
    }
    
    
    
.ParrafoRutinas{
    
        text-align: center;
        color: rgb(211, 198, 198); text-shadow: rgb(125, 178, 115) 0.1em 0.1em 0.2em}
    