 .body__main__h1__2 {
     text-align:$center;
     font-size: 40px;
     color: rgb(48, 173, 48);
     text-shadow: rgb(73, 110, 77) 0.1em 0.1em 0.2em
 }


 .body__main__div {
     display: $flex;
     flex-wrap: nowrap;
     margin: 20px;
     padding: 40px;
 }

 .body__main__div__h2 {
     color:  rgb(48, 173, 48);
     text-shadow: rgb(27, 89, 58) 0.1em 0.1em 0.2em
 }