    

.body__main__div{
  display: flex;
  flex-wrap: nowrap;
  margin: 20px;
  padding: 40px;}


.body__main__h1{
    text-align: center;
    font-size: 80px;
    color: rgb(37, 36, 36); text-shadow: rgb(247, 237, 237) 0.1em 0.1em 0.2em;
    animation:backInLeft;
    animation-duration: 3s;}

    
.body__main__div__h5{
  color: #6a1919;
  background-color: beige;
  font-size: 20px;}

.body__main__div__p{
      color: rgb(22, 68, 108);
      font-size: 40px;
      background-color: beige;}

  .tamañoCarousel{
    margin-top: 100px;
    width: 70%;
    height: 100px;
    opacity: 1;
  }
  
.body__main__div__p{
  color: rgb(22, 68, 108);
  font-size: 40px;
  background-color: beige;}

