


.body__main__div{
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    margin: 20px;
    padding: 40px;
    border-style: inset;

    

  

    .body__main__div__h2{
        color: rgb(252, 247, 247); 
        text-shadow: rgb(71, 180, 113) 0.1em 0.1em 0.2em;
    }

    
       
.body__main__div__img{
    width: 300px;
    height: 300px;
    background-image: url(../assets/img/greg-glassman-creador-crossfit.jpg); 
    background-color: rgb(100, 100,100);
    background-blend-mode: soft-light;

}

.p__historia{
font-size: 25px;

}
    


}
@media(min-device-width:180px) and (max-device-width:700px){


    body{
        background-image: none;

        .body__main__div{
            display: flex;
            flex-wrap: wrap;
         
        
            }
     
    }}


    
.body__main__div2{
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    margin: 20px;
    padding: 40px;
    border-style: inset;
    flex-direction: row-reverse;
    


    .body__main__div__img2{
        margin: 20px;
        padding: 40px;

        .body__main__div__img{
            width: 300px;
            height: 300px;
            background-image: url(../assets/img/greg-glassman-creador-crossfit.jpg); 
            background-color: rgb(100, 100,100);
            background-blend-mode: soft-light;
            object-fit: cover;

    }
    
}}

   
.body__main__div__h2--var{
    color: rgb(255, 252, 252); 
    text-shadow: rgb(66, 26, 211) 0.1em 0.1em 0.2em;
}
            

.p__historia{
    font-size: 30px;
}