

@mixin flexbox ($margen,$alineacion,$direccion){
    display:flex;
    margin-bottom:200px;
    align-items: $alineacion;
    flex-direction:$direccion;

}


@mixin footer ($height,$margin,$display,$aling,$direction){
line-height:$height;
margin-top:$margin;
display:$display;
align-items:$aling;
flex-direction:$direction;}