.color{
    color: #fff;
}

.ancho{
    width: 100%;
}

h1{
   color: rgb(245, 236, 236);
   text-shadow: rgb(92, 174, 124) 0.1em 0.1em 0.2em;;
}

h2{
    @extend h1;
}


    


p{
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    
}