/*maps*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(247, 243, 243);
}

.color {
  color: #fff;
}

.ancho {
  width: 100%;
}

h1, h2 {
  color: rgb(245, 236, 236);
  text-shadow: rgb(92, 174, 124) 0.1em 0.1em 0.2em;
}

p {
  color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  background-size: 40px;
}

.body__header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.body__header .body__header__nav {
  display: inline-block;
}
.body__header .body__header__nav .body__header__nav__ul {
  text-decoration: none;
  list-style: none;
  padding: left 60px;
  text-shadow: rgb(49, 168, 95) 0.1em 0.1em 0.2em;
  font-size: 40px;
}
.body__header .body__header__nav .body__header__nav__ul .body__header__nav__ul__li {
  list-style: none;
  display: inline-block;
  margin: 3vh;
  height: 3vh;
  font-size: 3vh;
}
.body__header .body__header__nav .body__header__nav__ul .body__header__nav__ul__li .body__header__nav__ul__a {
  text-decoration: none;
  color: rgb(243, 237, 237);
  text-shadow: rgb(49, 168, 95) 0.1em 0.1em 0.2em;
}
.body__header .body__header__nav .body__header__nav__ul .body__header__nav__ul__li .body__header__nav__ul__a:hover {
  color: rgb(0, 0, 0);
  background-color: azure;
  text-shadow: rgb(246, 247, 246) 0.1em 0.1em 0.2em;
  border-radius: 8%;
}

@media (min-device-width: 100px) and (max-device-width: 720px) {
  .body__header {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .body__header .body__header__nav__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.body__main__h1__2 {
  text-align: center;
  font-size: 40px;
  color: rgb(240, 244, 240);
  text-shadow: rgb(73, 110, 77) 0.1em 0.1em 0.2em;
}
.body__main__h1__2 .body__main__div {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px;
  padding: 40px;
}

.body__main__div__h2 {
  color: rgb(48, 173, 48);
  text-shadow: rgb(27, 89, 58) 0.1em 0.1em 0.2em;
}

.body__main__error404 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.body__footer {
  line-height: 10px;
  margin-top: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.body__footer .body__footer__p {
  font-size: 20px;
}
.body__footer .body__footer__div {
  display: flex;
  align-items: center;
}

.body__footer__div a img {
  display: flex;
  align-items: right;
  width: 27px;
  margin: 10px;
  color: rgb(109, 21, 21);
  text-shadow: rgb(49, 168, 95) 0.1em 0.1em 0.2em;
}

body {
  background-color: black;
  background-repeat: repeat;
  background-size: auto;
  color: rgb(243, 237, 237);
  text-shadow: rgb(49, 168, 95) 0.1em 0.1em 0.2em;
  font-family: "eurostileregular", sans-serif;
}
body .body__header .body__header__div .logo {
  animation: backInRight;
  animation-duration: 3s;
  height: 120px;
}

.body__main {
  display: flex;
  margin-bottom: 200px;
  align-items: center;
  flex-direction: column;
}

body .body__main .body__main__h1 {
  text-align: center;
  font-size: 80px;
  color: rgb(239, 233, 233);
  text-shadow: rgb(192, 133, 114) 0.1em 0.1em 0.2em;
  animation: backInLeft;
  animation-duration: 3s;
  margin-bottom: 100px;
}
body .body__main .body__main__h1__h2__div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
  background-image: url(../assets/img/queescrossfit.jpg);
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  line-height: 1.7em;
  text-size-adjust: 40px;
  font-size: 6vh;
  padding-left: 20px;
}
body .body__main .body__main__h1__h2__div .body__main__h1__h2 {
  position: relative;
  z-index: 3;
  width: 80%;
  max-width: 1080px;
  margin-right: auto;
  margin: 20px;
  color: aliceblue;
}
body .div__card .card {
  background-color: black;
}
body .Div__glosario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 20px;
  padding: 30px;
  border: 1px solid rgb(242, 239, 239);
  color: aliceblue;
  width: 75%;
  font-size: 25px;
  align-items: flex-start;
  align-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .H3 {
  font-size: 60px;
  color: #e9e1e1;
  margin: 40px;
}
body .H3__div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-device-width: 180px) and (max-device-width: 700px) {
  .body__main__h1__h2__div {
    font-size: 3vh;
  }
}
.button-menu {
  color: rgb(252, 251, 249);
  display: flex;
  flex-wrap: wrap;
  background-size: 30px;
  justify-content: center;
  gap: 3px;
}

.card2 {
  background-color: black;
  display: flex;
  align-items: center;
}
.card2 .tituloPosiciones {
  background-color: black;
  font-size: 45px;
}

.body__main__div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 20px;
  padding: 40px;
  border-style: inset;
}
.body__main__div .body__main__div__h2 {
  color: rgb(252, 247, 247);
  text-shadow: rgb(71, 180, 113) 0.1em 0.1em 0.2em;
}
.body__main__div .body__main__div__img {
  width: 300px;
  height: 300px;
  background-image: url(../assets/img/greg-glassman-creador-crossfit.jpg);
  background-color: rgb(100, 100, 100);
  background-blend-mode: soft-light;
}
.body__main__div .p__historia {
  font-size: 25px;
}

@media (min-device-width: 180px) and (max-device-width: 700px) {
  body {
    background-image: none;
  }
  body .body__main__div {
    display: flex;
    flex-wrap: wrap;
  }
}
.body__main__div2 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 20px;
  padding: 40px;
  border-style: inset;
  flex-direction: row-reverse;
}
.body__main__div2 .body__main__div__img2 {
  margin: 20px;
  padding: 40px;
}
.body__main__div2 .body__main__div__img2 .body__main__div__img {
  width: 300px;
  height: 300px;
  background-image: url(../assets/img/greg-glassman-creador-crossfit.jpg);
  background-color: rgb(100, 100, 100);
  background-blend-mode: soft-light;
  object-fit: cover;
}

.body__main__div__h2--var {
  color: rgb(255, 252, 252);
  text-shadow: rgb(66, 26, 211) 0.1em 0.1em 0.2em;
}

.p__historia {
  font-size: 30px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 150px;
}
.container .Contacto__h1 {
  color: #f6f2f2;
  text-align: center;
}
.container form {
  margin-top: 20px;
}
.container form label {
  display: block;
  margin-bottom: 5px;
}
.container form input, .container form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 10px;
}
.container form button {
  width: 100%;
  background-color: #36f45c;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.container form button:hover {
  background-color: #d32f2f;
}

button:hover {
  background-color: #d32f2f;
}

.body__main .h1Rutinas {
  font-style: italic;
  text-decoration: line;
  color: rgb(245, 243, 243);
  text-shadow: rgb(49, 168, 95) 0.1em 0.1em 0.2em;
  margin-bottom: 20vh;
  font-size: 55px;
}
.body__main .correr {
  background-image: url(../assets/img/correr.jpg);
  padding: 70px;
  background-size: center;
  align-content: normal;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
}
.body__main .DivRutinas {
  margin: 10vh;
  padding: 3vh;
  text-align: center;
  color: rgb(252, 246, 246);
  text-shadow: rgb(247, 237, 237) 0.1em 0.1em 0.2em;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 40px;
}
.body__main .ParrafoRutinas {
  text-align: center;
  color: rgb(211, 198, 198);
  text-shadow: rgb(125, 178, 115) 0.1em 0.1em 0.2em;
  font-size: 40px;
}
.body__main .flexiones {
  background-image: url(../assets/img/flexiones.jpg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  padding: 70px;
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
  background-size: cover;
}
.body__main .sentadillas {
  background-image: url(../assets/img/sentadillas.jpg);
  padding: 70px;
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
}
.body__main .dominadas {
  background-image: url(../assets/img/dominadas.jpg);
  padding: 70px;
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}
.body__main .abdominales {
  background-image: url(../assets/img/abdominales.jpg);
  padding: 70px;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
}
.body__main .buerpee {
  background-image: url(../assets/img/burpee.jpg);
  padding: 70px;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-size: cover;
  align-content: center;
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
}

@media (max-width: 768px) {
  .DivRutinas {
    padding: 5px;
  }
  .ParrafoRutinas {
    font-size: medium;
  }
}
/* inciar sass sass --watch sass:estilos*/

/*# sourceMappingURL=sass.css.map */
